@model LanguageSelectorModel
@inject IWebHelper webHelper
@if (Model.AvailableLanguages.Count > 1)
{
    var returnurl = webHelper.GetRawUrl(Context.Request);

    <li class="nav-item dropdown item-languages" id="navbarNavLanguageMenu">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.AvailableLanguages.First(x => x.Id == Model.CurrentLanguageId).Name</a>
        <div class="dropdown-menu position-absolute dropdown-menu-right">
            @foreach (var language in Model.AvailableLanguages.Where(x => x.Id != Model.CurrentLanguageId))
            {
                <a class="dropdown-item" href="@Url.RouteUrl("ChangeLanguage", new { langid = language.Id, returnurl })">@language.Name</a>
            }
        </div>
    </li>
}