<div style="position:relative" class="gantt" id="reservations-gantt"></div>
<button type="button" id="mybut">Test</button>

<script type="text/javascript">
    $(document).ready(function () {

        var g = new JSGantt.GanttChart(document.getElementById('reservations-gantt'), 'day');

        $('#mybut').click(reloadGantt);

        function reloadGantt() {

            g.RemoveTaskItem(666);

            g.Draw();

            //g.AddTaskItemObject({
            //  pID: 12,
            //  pName: "DUPA JASIA",
            //  pStart: "2017-02-25",
            //  pEnd: "2017-03-17",
            //  pPlanStart: "2017-04-01",
            //  pPlanEnd: "2017-04-15 12:00",
            //  pClass: "ggroupblack",
            //  pLink: "",
            //  pMile: 0,
            //  pRes: "Brian",
            //  pComp: 0,
            //  pGroup: 1,
            //  pParent: 0,
            //  pOpen: 1,
            //  pDepend: "",
            //  pCaption: "",
            //  pCost: 1000,
            //  pNotes: "Some Notes text",
            //  category: "My Category",
            //  sector: "Finance"
            //});

            //g.Draw();
        };

        g.setOptions({
          vCaptionType: 'Complete',
          vQuarterColWidth: 36,
          vDateTaskDisplayFormat: 'day dd month yyyy',
          vDayMajorDateDisplayFormat: 'mon yyyy - Week ww',
          vWeekMinorDateDisplayFormat: 'dd mon',
          vLang: 'en',
          vShowTaskInfoLink: 1,
          vShowEndWeekDate: 0,
          vAdditionalHeaders: {
            },
          vUseSingleCell: 10000,
          vFormatArr: ['Day', 'Week', 'Month', 'Quarter'],
        });

        //JSGantt.parseJSON('@Html.Raw(Url.Action("GetReservationsHierarchy", "Product", new { DateFrom = DateTime.Now.AddDays(-7), DateTo = DateTime.Now.AddDays(-7).AddMonths(2) }))', g);

        g.AddTaskItemObject({
          pID: 666,
          pName: "Define Chart <strong>API</strong>",
          pStart: "2017-02-25",
          pEnd: "2017-03-17",
          pPlanStart: "2017-04-01",
          pPlanEnd: "2017-04-15 12:00",
          pClass: "ggroupblack",
          pLink: "",
          pMile: 0,
          pRes: "Brian",
          pComp: 0,
          pGroup: 1,
          pParent: 0,
          pOpen: 1,
          pDepend: "",
          pCaption: "",
          pCost: 1000,
          pNotes: "Some Notes text",
          category: "My Category",
          sector: "Finance"
        });

        g.Draw();

    });
</script>