/** Pages by system name */
.topic img {
    visibility: hidden;
}

.topic.topic-aboutplace,
.topic.topic-gallery,
.topic.topic-route,
.topic.topic-surroundings,
.topic.topic-application {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.topic-header-image {
    max-height: 900px;
    overflow-y: hidden;
}

/** Global */
* {
    font-family: Tahoma;
    border-radius: 0px !important;
}

.img-popup-gallery img {
    cursor: pointer;
}

html, body {
    overflow-x: hidden;
}

.dropdown-menu {
    border-radius: 0px !important;
}

.dropdown-toggle::after {
    display: none;
}

.progress-bar {
    background-color: #16A97A !important;
    border: 1px solid #123135 !important;
}

.nav-item:hover,
.dropdown-item:hover,
.nav-item.active,
.dropdown-item.active {
    background-color: #2c7d76 !important;
}

.nav-item > a,
a.dropdown-item {
    color: #000000;
}

.nav-item:hover > a,
a.dropdown-item:hover,
.nav-item.active > a,
a.dropdown-item.active {
    color: #FFFFFF !important;
}

.form-control {
    border-radius: 0px;
}

.form-control:focus {
    border-color: #91e2cc;
    box-shadow: 0 0 0 .2rem rgba(145, 226, 204, 0.23);
}

.btn {
    border-radius: 0px;
}

.btn-info, .btn-primary {
    border-color: #123135;
    background-color: #16A97A;
    color: #FFFFFF !important;
}

.btn-outline-info {
    border-color: #16A97A;
    color: #16A97A;
}

.btn-info:hover, .btn-primary:hover, .btn-outline-info:hover {
    border-color: #123135;
    background-color: #2c7d76;
}

.btn-secondary, .btn-secondary:hover {
    border-color: #123135;
    color: #FFFFFF !important;
}

.card {
    border-radius: 0px;
    border: 1px solid #123135;
}

.card-header, .card-header * {
    background-color: #2c7d76 !important;
    border-radius: 0px !important;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}

.card-title, .card-header h4 {
    margin-bottom: 0px;
}

.card-danger {
    background-color: #2c7d76;
}

.bg-info {
    background-color: #2c7d76 !important;
}

::-moz-selection {
    background-color: #2c7d76 !important;
    color: #FFFFFF;
}

::selection {
    background-color: #2c7d76 !important;
    color: #FFFFFF;
}

select option:hover {
    background-color: #2c7d76 !important;
    color: #FFFFFF;
}

img.img-popup {
    cursor: pointer;
}


.generalTitle, .page-title h1, h2, h2.h5, h2.h5 > * {
    font-family: Georgia,Times,Times New Roman,serif !important;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    font-family: Georgia,Times,Times New Roman,serif !important;
    font-weight: 300;
    line-height: 1.2;
    font-size: 24px;
    margin-bottom: 10px;
}

.block-navigation ul.list {
    list-style-type: none;
    padding-left: 10px;
}

.block-navigation ul.list li {
    padding: 5px;
}

ul.info {
    list-style-type: none;
    padding: 0px;
}

ul.info li.title {
    margin-top: 40px;
}

ul.info li.title:first-child {
    margin-top: 0px;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #16A97A;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    border: 1px solid #16A97A;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 .2rem rgba(145, 226, 204, 0.23) !important;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    border-color: #91e2cc;
    box-shadow: 0 0 0 .2rem rgba(145, 226, 204, 0.23) !important;
}

#bar-notification, .eu-cookie-bar-notification {
    position: fixed;
    border: 1px solid #123135;
    z-index: 10000;
    width: 100%;
    top: 50%;
    background-color: #2c7d76;
}

.eu-cookie-bar-notification {
    padding: 20px;
}

#bar-notification .close {
    text-align: right;
}

#bar-notification p, .eu-cookie-bar-notification p {
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-content {
    padding: 0px !important;
}

.modal-body {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.modal-body a {
    color: #16A97A !important;
}

.modal-footer {
    padding-bottom: 16px !important;
}

/** Header */
header {
    background-color: #FFFFFF;
}

header #mainLogo {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2c7d76;
}

header nav a {
    cursor: pointer !important;
}

header #navbarNavEuLogo img {
    max-width: 50px;
}

#navbarNavMainMenu .dropdown-item {
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}



#navbarNavSecondaryMenu {
    background-color: #2c7d76;
}

#navbarNavSecondaryMenu > div > ul > li > a {
    color: #FFFFFF !important;
    padding-left: 20px;
    padding-right: 20px;
}

#navbarNavSecondaryMenu .dropdown-menu {
    position: absolute;
    min-width: 0px !important;
}

#navbarNavSecondaryMenu .item-account {
    background-color: #6CBE99;
}


#navbarNavSecondaryMenu .item-cart {
    background-color: #16A97A;
}

#navbarNavSecondaryMenu .item-products {
    background-color: #458D87;
    padding-top: 6px;
    text-transform: uppercase;
}

#navbarNavSecondaryMenu .item-languages {
    background-color: #F7A712;
    padding-top: 6px;
}

#navbarNavSecondaryMenu .item-currencies {
    background-color: #ffbd44;
    padding-top: 6px;
}

@media screen and (max-width: 1199px) {
    /*header {
        position: relative !important;
    }*/

    #navbarNavMainMenu .nav-link {
        padding-left: 20px;
    }

    #navbarNavMainMenu .dropdown-menu {
        border: none;
    }
}

@media screen and (min-width: 1200px) {
    #navbarNavSecondaryMenu {
        background-color: transparent;
    }

    #navbarNavMainMenu {
        margin-left: 6px;
    }

    #navbarNavMainMenu > ul {
        padding-top: 40px;
    }

    #navbarNavMainMenu > ul > li > a {
        padding-bottom: 58px;
    }

    #navbarNavMainMenu .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    #navbarNavMainMenu .dropdown-item {
        padding-left: 8px;
    }

    header {
        border-bottom: 5px solid #2c7d76;
    }

    header #mainLogo {
        text-align: center;
        background-color: #FFFFFF;
    }

    header #headerContent {
        border-left: 1px solid #000000;
    }

    header #navbarNavEuLogo img {
        max-width: 100px;
    }
}

/** Footer */
footer {
    background-color: #123135;
    padding-bottom: 10px;
    overflow: hidden;
}

footer a, footer p {
    color: #FFFFFF !important;
}

footer a:hover {
    color: #91e2cc !important;
}

footer h5 {
    color: #91e2cc;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 21px;
}

#footerSocialMedia .list-group-item {
    border-radius: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

#footerSocialMedia .list-group-item a {
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    color: #FFFFFF;
}

#footerLogos {
    background-color: #FFFFFF;
}

/** Main container */
main .page-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

main .page-container a {
    color: #2c7d76;
}

main .page-container a:hover, main .page-container a:active {
    color: #16A97A;
}

/** Order details */
.order-details-page .products, .order-details-page .order-overview {
    margin-top: 40px;
    margin-bottom: 40px;
}

.order-details-page .shopping-cart {
    width: 100%;
}

/** Product details */
.product-details-page .gallery {
    margin-bottom: 40px;
}

.product-details-page .short-description {
    text-align: left;
}

.product-details-page .reservation-calendar {
}

.product-details-page .generalTitle {
    margin-bottom: 40px;
}

.product-details-page .attributes ul {
    list-style-type: none;
}

.product-details-page .rental-price {
    padding-left: 10px !important;
}

.product-details-page > form > div  > .row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.product-details-page .reservation {
    background-color: #ededed;
    padding-bottom: 0px !important;
}

.product-details-page .reservation .bootstrapDatepicker, .product-details-page .reservation .bootstrapDatepicker table {
    width: 100%;
}


.product-details-page .base-price label {
    font-weight: bold;
}

.product-details-page .add-to-cart-group {
    border-top: 1px solid #123135;
    background-color: #2c7d76;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-details-page .add-to-cart-group select {
    width: auto;
}

.product-details-page .actual-price {
    font-weight: bold;
    padding-top: 9px;
    padding-right: 10px;
    color: #FFFFFF;
}


.product-details-page .reservation .day {
    color: #123135;
}

.product-details-page .reservation .disabled {
    color: #cccccc !important;
}


.product-details-page .reservation .range-start,
.product-details-page .reservation .range-start.selected,
.product-details-page .reservation .range-end,
.product-details-page .reservation .range-end.selected {
    background-color: #F7A712;
    color: #FFFFFF;
}

.product-details-page .reservation .range-start:hover,
.product-details-page .reservation .range-start.selected:hover,
.product-details-page .reservation .range-end:hover,
.product-details-page .reservation .range-end.selected:hover {
    background-color: #ff8700;
    color: #FFFFFF;
}

.product-details-page .reservation .range.day {
    background-color: #ffbd44;
    color: #FFFFFF;
}

.product-details-page .reservation .disabled.range,
.product-details-page .reservation .disabled.range-start,
.product-details-page .reservation .disabled.range-end {
    background-color: #cacaca !important;
    color: #FFFFFF !important;
}

/** Shopping cart */
.shopping-cart {
    width: 100%;
    border-bottom: 0;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
}

    .shopping-cart thead {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    .shopping-cart th.product {
        width: 100%;
    }

    .shopping-cart th {
        color: #364150;
        padding: 20px;
        white-space: nowrap;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }

    .shopping-cart td {
        background: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        border-right: 1px solid rgba(0, 0, 0, .2);
        min-width: 60px;
        padding: 20px;
    }

        .shopping-cart td:last-child {
            border-right: 0 !important;
            text-align: center;
            padding: 10px;
        }

    .shopping-cart tr:last-child td {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, .2);
    }

    .shopping-cart tr:last-child {
        margin-bottom: 0;
    }

    .shopping-cart .product-unit-price.price,
    .shopping-cart .product-subtotal.price,
    .shopping-cart .prod-total,
    .shopping-cart .unit-price del {
        font-size: 18px;
        margin-left: 3px;
        white-space: nowrap;
    }

    .shopping-cart .remove-from-cart .remove {
        display: none;
    }

    .shopping-cart .remove-from-cart input[type='checkbox'].checkbox-u + label {
        border: 1px solid rgba(0, 0, 0, .25);
        background: transparent;
        z-index: 996;
    }

    .shopping-cart .remove-from-cart input[type='checkbox'] + label {
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto !important;
        margin: auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-indent: -999px;
        overflow: hidden;
        border: 1px solid #000;
        cursor: pointer;
        z-index: 99;
    }

    .shopping-cart .remove-from-cart input[type='checkbox'].checkbox-u + label:before,
    input[type='checkbox'].checkbox-u + label:after {
        content: '';
        width: 20px;
        height: 2px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        margin: auto;
        background: transparent;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .shopping-cart .add-to-cart input[type='checkbox'].checkbox-u + label:before {
        left: 11px;
    }

    .shopping-cart .add-to-cart input[type='checkbox'].checkbox-u + label:after {
        width: 14px;
        bottom: -4px;
        left: -13px;
    }

    .shopping-cart .remove-from-cart input[type='checkbox'].checkbox-u:checked + label:before {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .shopping-cart .remove-from-cart input[type='checkbox'].checkbox-u:checked + label:after {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .shopping-cart .remove-from-cart input[type='checkbox'].checkbox-u:checked + label:before,
    input[type='checkbox'].checkbox-u:checked + label:after {
        transition: 0.4s ease all;
        -moz-transition: 0.4s ease all;
        -webkit-transition: 0.4s ease all;
        background: #405763;
    }

    .shopping-cart td.product .product-name {
        font-size: 16px;
    }

    .shopping-cart .quantity .plus,
    .shopping-cart .quantity .minus {
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px solid #405763;
    }

        .shopping-cart .quantity .plus::after,
        .shopping-cart .quantity .plus::before,
        .shopping-cart .quantity .minus::before {
            content: "";
            width: 15px;
            height: 1px;
            background: #405763;
            position: absolute;
            left: 7px;
            top: 13px;
        }

        .shopping-cart .quantity .plus::after {
            transform: rotate(90deg);
        }

    .shopping-cart .quantity .qty-input {
        width: 60px;
        border: 1px solid #405763;
        color: #405763;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        font-size: 16px;
        height: 30px;
        box-shadow: unset;
    }

    .shopping-cart .unit-price,
    .shopping-cart .sku,
    .shopping-cart .quantity {
        white-space: nowrap;
    }

    .shopping-cart .subtotal-text,
    .shopping-cart .unit-price-text {
        display: none;
    }

.shopping-cart-page .common-buttons .update-cart-button::before {
    font-family: Font Awesome\ 5 Free;
    padding-right: 5px;
    font-weight: 900;
}

.shopping-cart-page .totals,
.shopping-cart-page .deals,
.shopping-cart-page .estimate-shipping {
    background: #fff;
    padding: 15px;
}

.shopping-cart-page .deals,
.shopping-cart-page .estimate-shipping {
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.shopping-cart-page .totals td {
    border-top: 0;
}

.shopping-cart-page .totals table {
    border-bottom: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px !important;
    border-collapse: unset;
}

.shopping-cart-page .update-cart-button,
.shopping-cart-page .continue-shopping-button,
.shopping-cart-page .removeAll-cart-button {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px !important;
}

.shopping-cart-page .removeAll-cart-button::before {
    padding-right: 5px;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
}

.shopping-cart-page .continue-shopping-button::before {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    padding-right: 5px;
}

.shopping-cart-page select:focus {
    background-color: #eee;
}

.shopping-cart-page .total-info {
    margin-top: 0;
}

    .shopping-cart-page .total-info tbody {
        border: 0;
    }

.shopping-cart-page .checkout-buttons {
    display: flex;
    justify-content: center;
}

.shopping-cart .qty-input-ro {
    margin: auto;
    width: 70px;
    border-radius: 0;
}
/* wishlist new */

.shopping-cart tbody {
    border: 0;
}

.estimate-shipping-result {
    font-weight: 700;
}

.shopping-cart-page .desktop-shopping-table .table-remove .custom-control-indicator {
    left: 15px;
}

.wishlist-content .desktop-shopping-table .table-remove .custom-control-indicator {
    left: 26px;
}

.desktop-shopping-table .table-qty input {
    width: 65px;
}

.mobile-shopping-table {
    border: 2px solid #000;
}

    .mobile-shopping-table .table-name {
        width: 50%;
    }

    .mobile-shopping-table .table-remove .custom-control-indicator {
        width: 20px;
        height: 20px;
    }

.checked-cart {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    color: #fff;
    background-color: #007bff;
}

.cart-checkbox {
    width: 20px;
    left: 8px;
}

/* Checkout */

#checkout-steps {
    list-style-type: none;
}

.opc .allow .card-grey {
    background-color: #61676c;
    color: #fff;
    cursor: pointer;
}

.opc .active .card-grey {
    background-color: #2c7d76;
    color: #fff;
    cursor: pointer;
}

.opc .step-title .card-bodyquote {
    margin-bottom: 0;
}

.opc .card-grey {
    background-color: rgba(204, 204, 204, 0.17);
    color: rgba(129, 138, 145, 0.36);
    border: 1px solid #dfdfdf;
}

.payment-method ul,
.shipping-method ul,
.message-error ul,
.tabs ul,
.account-order .card ul,
ul.info,
ul.opc {
    padding-left: 0;
}

.payment-method img {
    max-width: 100px;
}

ul.opc h5 {
    padding: 10px;
    background-color: #dddddd;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-size: 15px;
}

select.form-control:not([size]):not([multiple]) option {
    min-height: 25px;
}

.generalImg img {
    padding-right: 10px;
}

.cartCounter .btn {
    padding: 11px;
}

.cartCounter span {
    text-transform: uppercase;
    font-size: 11px;
}

.cartCounter {
    padding-top: 7px;
}

.order-summary-content .custom-control-description i {
    visibility: visible;
}

.order-summary-content .title h5 {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.order-summary-content .remove-from-cart {
    padding: 1rem;
}

.order-summary-content .table thead th {
    border-bottom: 0;
    border-top: 0;
}

/** FAQ */
div.faq {
    margin-top: 40px;
}

div.faq:first-child {
    margin-top: 0px;
}

div.faq p {
    border-left: 1px solid #2c7d76;
    padding-left: 20px;
}


/** Animate.css enhancements */
@keyframes bounce-with-delay {
    0%,5%,14%,20%,22%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        -webkit-transform: translateZ(0);
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translateZ(0)
    }

    10%,11% {
        -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-30px,0);
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-30px,0)
    }

    18% {
        -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-15px,0);
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-15px,0)
    }

    21% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0)
    }
}

.bounce-with-delay {
    -webkit-animation-name: bounce-with-delay;
    -webkit-transform-origin: center bottom;
    animation-name: bounce-with-delay;
    transform-origin: center bottom;
    animation-duration: 4s;
}