/** Global */
* {
    font-family: Tahoma;
    border-radius: 0px !important;
}

.dropdown-menu {
    border-radius: 0px !important;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item:hover,
.dropdown-item:hover,
.nav-item.active,
.dropdown-item.active {
    background-color: #2c7d76 !important;
}

.nav-item > a,
a.dropdown-item {
    color: #000000;
}

.nav-item:hover > a,
a.dropdown-item:hover,
.nav-item.active > a,
a.dropdown-item.active {
    color: #FFFFFF !important;
}

.form-control {
    border-radius: 0px;
}

.form-control:focus {
    border-color: #91e2cc;
    box-shadow: 0 0 0 .2rem rgba(145, 226, 204, 0.23);
}

.btn {
    border-radius: 0px;
}

.btn-info, .btn-primary {
    border-color: #123135;
    background-color: #16A97A;
    color: #FFFFFF !important;
}

.btn-outline-info {
    border-color: #16A97A;
    color: #16A97A;
}

.btn-info:hover, .btn-primary:hover, .btn-outline-info:hover {
    border-color: #123135;
    background-color: #2c7d76;
}

.btn-secondary, .btn-secondary:hover {
    border-color: #123135;
    color: #FFFFFF !important;
}

.card {
    border-radius: 0px;
    border: 1px solid #123135;
}

.card-header, .card-header * {
    background-color: #2c7d76 !important;
    border-radius: 0px !important;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}

.card-title, .card-header h4 {
    margin-bottom: 0px;
}


.bg-info {
    background-color: #2c7d76 !important;
}

::-moz-selection {
    background-color: #2c7d76 !important;
    color: #FFFFFF;
}

::selection {
    background-color: #2c7d76 !important;
    color: #FFFFFF;
}

select option:hover {
    background-color: #2c7d76 !important;
    color: #FFFFFF;
}


.generalTitle, .page-title h1, h2.h5, h2.h5 > * {
    font-family: Georgia,Times,Times New Roman,serif !important;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 36px;
}

.block-navigation ul.list {
    list-style-type: none;
    padding-left: 10px;
}

.block-navigation ul.list li {
    padding: 5px;
}

ul.info {
    list-style-type: none;
    padding: 0px;
}

ul.info li.title {
    margin-top: 40px;
}

ul.info li.title:first-child {
    margin-top: 0px;
}


/** Header */
header {
    background-color: #FFFFFF;
}

header #mainLogo {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2c7d76;
}

header nav a {
    cursor: pointer !important;
}

header #navbarNavEuLogo img {
    max-width: 50px;
}

#navbarNavMainMenu .dropdown-item {
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}



#navbarNavSecondaryMenu {
    background-color: #2c7d76;
}

#navbarNavSecondaryMenu > div > ul > li > a {
    color: #FFFFFF !important;
    padding-left: 20px;
    padding-right: 20px;
}

#navbarNavSecondaryMenu .dropdown-menu {
    position: absolute;
    min-width: 0px !important;
}

#navbarNavSecondaryMenu .item-account {
    background-color: #6CBE99;
}


#navbarNavSecondaryMenu .item-cart {
    background-color: #16A97A;
}

#navbarNavSecondaryMenu .item-products {
    background-color: #458D87;
    padding-top: 6px;
    text-transform: uppercase;
}

#navbarNavSecondaryMenu .item-languages {
    background-color: #F7A712;
    padding-top: 6px;
}

#navbarNavSecondaryMenu .item-currencies {
    background-color: #ffbd44;
    padding-top: 6px;
}

@media screen and (max-width: 1199px) {
    header {
        position: relative !important;
    }

    #navbarNavMainMenu .nav-link {
        padding-left: 20px;
    }

    #navbarNavMainMenu .dropdown-menu {
        border: none;
    }
}

@media screen and (min-width: 1200px) {
    #navbarNavSecondaryMenu {
        background-color: transparent;
    }

    #navbarNavMainMenu {
        margin-left: 6px;
    }

    #navbarNavMainMenu > ul {
        padding-top: 40px;
    }

    #navbarNavMainMenu > ul > li > a {
        padding-bottom: 58px;
    }

    #navbarNavMainMenu .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    #navbarNavMainMenu .dropdown-item {
        padding-left: 8px;
    }

    header {
        border-bottom: 5px solid #2c7d76;
    }

    header #mainLogo {
        text-align: center;
        background-color: #FFFFFF;
    }

    header #headerContent {
        border-left: 1px solid #000000;
    }

    header #navbarNavEuLogo img {
        max-width: 100px;
    }
}

/** Footer */
footer {
    background-color: #123135;
    padding-bottom: 10px;
    overflow: hidden;
}

footer a, footer p {
    color: #FFFFFF !important;
}

footer a:hover {
    color: #91e2cc !important;
}

footer h5 {
    color: #91e2cc;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 21px;
}

#footerSocialMedia .list-group-item {
    border-radius: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

#footerSocialMedia .list-group-item a {
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    color: #FFFFFF;
}

#footerLogos {
    background-color: #FFFFFF;
}

/** Main container */
main .page-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

main .page-container a {
    color: #2c7d76;
}

main .page-container a:hover, main .page-container a:active {
    color: #16A97A;
}

/** Order details */
.order-details-page .products, .order-details-page .order-overview {
    margin-top: 40px;
    margin-bottom: 40px;
}

.order-details-page .shopping-cart {
    width: 100%;
}

/** Animate.css enhancements */
@keyframes bounce-with-delay {
    0%,5%,14%,20%,22%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        -webkit-transform: translateZ(0);
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translateZ(0)
    }

    10%,11% {
        -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-30px,0);
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-30px,0)
    }

    18% {
        -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-15px,0);
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-15px,0)
    }

    21% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0)
    }
}

.bounce-with-delay {
    -webkit-animation-name: bounce-with-delay;
    -webkit-transform-origin: center bottom;
    animation-name: bounce-with-delay;
    transform-origin: center bottom;
    animation-duration: 4s;
}