@model CurrencySelectorModel
@inject IWebHelper webHelper
@if (Model.AvailableCurrencies.Count > 1)
{
    var returnUrl = webHelper.GetRawUrl(Context.Request);

    <li class="nav-item dropdown item-currencies" id="navbarNavCurrencyMenu">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.AvailableCurrencies.First(x => x.Id == Model.CurrentCurrencyId).CurrencySymbol</a>
        <div class="dropdown-menu position-absolute dropdown-menu-right">
            @foreach (var currency in Model.AvailableCurrencies.Where(x => x.Id != Model.CurrentCurrencyId))
            {
                <a class="dropdown-item" href="@Url.RouteUrl("ChangeCurrency", new { customercurrency = currency.Id, returnUrl })">@currency.CurrencySymbol</a>
            }
        </div>
    </li>
}
