@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })

<partial name="_Notifications" />
<partial name="_JavaScriptDisabledWarning" />
<partial name="_OldInternetExplorerWarning" />

<main role="main">
    <partial name="Header" />
    <div class="container page-container @Html.GrandPageCssClasses(includeClassElement: false)">
        @await Component.InvokeAsync("Widget", new { widgetZone = "content_before" })
        
        @*@if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }*@

        @RenderBody()
        @await Component.InvokeAsync("Widget", new { widgetZone = "content_after" })
    </div>

    @await Component.InvokeAsync("Footer")
</main>

<script asp-location="Footer">
    AjaxCart.init('.cart-qty', '.wishlist-qty', '.flyout-cart');
</script>

@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })
