<header role="presentation">
    <div class="row">
        <div class="container d-flex h-100 justify-content-center order-1 col-12 order-xl-0 col-xl-2" id="mainLogo">
                @await Component.InvokeAsync("Logo")
        </div>

        <div class="order-0 col-12 order-xl-1 col-xl-10" id="headerContent">

            <nav class="navbar navbar-expand-xl d-flex p-0">

                <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbarNavMainMenu" aria-controls="navbarNavMainMenu" aria-expanded="false">
                    <span class="mdi mdi-36px mdi-menu"></span>
                </button>

                <div class="order-3 col-12 p-0 order-sm-1 col-sm-auto order-xl-1 col-xl-5" id="navbarNavSecondaryMenu">
                    <div class="d-flex justify-content-center">
                        <ul class="navbar-nav flex-row">
                            @await Component.InvokeAsync("HeaderLinks")
                            @await Component.InvokeAsync("ShoppingCartLinks")
                            @await Component.InvokeAsync("HeaderProductsLinks")
                            @await Component.InvokeAsync("LanguageSelector")
                            @await Component.InvokeAsync("CurrencySelector")
                        </ul>
                    </div>
                </div>

                <div class="order-1 col-auto order-sm-2 order-xl-2 col-xl-2" >
                    <a id="navbarNavEuLogo" href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("EuropeanUnion").Result })">
                        <img class="img-fluid flex-row" title="" src="/Themes/VeganHouse/Content/images/ue.jpg">
                    </a>
                </div>

                <div class="order-2 col-12 p-0 order-sm-3 order-xl-0 col-xl-5" style="min-height: 0px !important;">
                    <div class="collapse navbar-collapse" id="navbarNavMainMenu">
                        <ul class="navbar-nav">
                            @await Component.InvokeAsync("TopMenu")
                        </ul>
                    </div>
                </div>

            </nav>

        </div>
    </div>
</header>