@model LogoModel
<a href="@Url.RouteUrl("HomePage")" class="ml-2 mr-2">
    <img class="img-fluid d-none d-xl-inline" title="" alt="@Model.StoreName" src="/Themes/VeganHouse/Content/images/logo_vh.png">
    <img class="img-fluid d-inline d-xl-none" title="" alt="@Model.StoreName" src="/Themes/VeganHouse/Content/images/logo_vh_white.png">
    <span class="sr-only">@T("admin.configuration.shipping.providers.fields.logo")</span>
</a>